{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar Estudiante{% else %}Registrar Estudiante{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <main class="content">
        <div class="students-page">
            <section class="welcome">
                <h1>{% if form.instance.pk %}Editar Estudiante{% else %}Registrar Nuevo Estudiante{% endif %}</h1>
            </section>
            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'gestion_aulatec:estudiante_list' %}"
                   class="btn btn-outline">Cancelar
                </a>
            </form>
            <a href="{% url 'gestion_aulatec:estudiante_list' %}">Volver a la lista de estudiantes</a>
        </div><!-- /.students-page -->
    </main>
    
</body>
</html>