<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar Grado{% else %}Crear Grado{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar Grado{% else %}Crear Nuevo Grado{% endif %}</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Guardar</button>
    </form>

    <a href="{% url 'gestion_aulatec:grado_list' %}">Volver a la lista de grados</a>    
</body>
</html>