<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación de Materia</title>
</head>
<body>
    <h1>Confirmar Eliminación de Materia</h1>
    <p>¿Estás seguro de que quieres eliminar la materia **"{{ materia.NombreMateria }}"**?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, Eliminar</button>
        <a href="{% url 'gestion_aulatec:materia_list' %}">Cancelar</a>
    </form>
</body>
</html>